.flex-container {
    display: flex;
    /*flex-direction: column;*/
    border: 4px solid indigo;
    padding: 16px;
    background-color: plum;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    gap: 8px;
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    width: 100px;
    /*flex: 1 1 auto;*/
  }
  
  /* only div.two is selected here */
  .flex-container .two {
    flex-shrink: 0;
    text-align: center;
  }